.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  --marker-bg-default: #ddd;
  --marker-bg-haschild: #6b9abb;
  line-height: 2rem;
  list-style: none; /* Supprime les puces */
  padding-left: 0; /* Réinitialise le padding */
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree summary {
  display: block;
  cursor: pointer;
  list-style: none; /* Supprime les puces sur les éléments du résumé */
}

