.TopMenu {
    background-color: green;
    width: 100%;
    height: 3rem;
}

.NavigationArborescent {
    background-color: red;
    width: 20vw;
    height: 100vh;
}

.Tabulation {
    background-color: yellowgreen;
    width: 80vw;
    height: 2rem;
}

.Route {
    background-color: orange; 
    height: 2rem;   
}

.Page {
    background-color: blue;
    height: 100vh; 
}

.aside {
    display: flex;
}