.aside {
    display: grid;
    grid-template-columns: 18% 82%;
    height: 100vh;
}

.NavigationArborescent {
    background-color: #181818;
    height: 100vh; 
    overflow-y: auto;
}

.main {
    display: flex;
    flex-direction: column;
}

.Tabulation {
    background-color: rgb(31,31,31);
    border-bottom: solid 1px gray;
    height: 2rem;
}

.Route {
    background-color: #302f2f;
    border-bottom: solid 2px black;
    height: 2rem;
}

.Page {
    background-color: #302f2f;
    flex-grow: 1;
}

.TopMenu {
    background-color:#1F1F1F;
    border-bottom: solid 1px gray;
    width: 100%;
    height: 3rem;
}
