.aside {
    display: grid;
    grid-template-columns: 18% 82%;
    height: 100vh;
}

.NavigationArborescent {
    background-color: red;
    height: 100vh; 
    overflow-y: auto;
}

.main {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.Tabulation {
    background-color: yellowgreen;
    height: 2rem;
}

.Route {
    background-color: orange;
    height: 2rem;
}

.Page {
    background-color: blue;
    flex-grow: 1;
}

.TopMenu {
    background-color: green;
    width: 100%;
    height: 3rem;
}
